body
{
	background-color: #222;
	height: 100%;
    margin: 0 0 100px;
    padding: 25px;
}
html
{
	height: 100%;
    position: relative;
    min-height: 100%;
}

/* fonts include
font-family: 'Itim', cursive;
font-family: 'Akronim', cursive;
font-family: Arial, Helvetica, sans-serif;
*/

h1
{
	text-align: center;
	color: #fff;
	font-size: 80px;
	font-family: Impact, Charcoal, sans-serif;
	line-height: 0%;
}
h1:hover
{
	color:#fff;
	background-color: transparent;
	text-shadow: 0 0 5px #fff;
}
h1:active
{
	color: #fff;
	background-color: transparent;
}

h2
{
	text-align: center;
	color: #ff0;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Itim', cursive;
	line-height: 50%;
}

h3
{
	text-align: center;
	color: #f0f;
	font-family: 'Itim', cursive;
	font-size: 50px;
}

p
{
	text-align: center;
	color: #ff0;
	font-size: 18px;
	font-family: 'Itim', cursive;
	line-height: 125%;
}

.block
{
	display: inline-block;
}

a
{
	text-align: center;
	color: #f0f;
	font-family: 'Itim', cursive;
	font-size: 20px;
	line-height: 110%;
}
a:link
{
	color: #f0f;
	background-color: transparent;
	text-decoration: none;
}
a:visited
{
	color: #f0f;
	background-color: transparent;
	text-decoration: none;
}
a:hover
{
	color: #f0f;
	background-color: transparent;
	text-decoration: none;
	text-shadow: 0 0 5px #f2f;
}
a:active
{
	color: #f08;
	background-color: transparent;
	text-decoration: none;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

ul
{
	color: #f0f;
}

#images 
{
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}
#images div
{
	display: inline-block;
}

span.dropt
{
	text-align: center;
	color: #ff0;
	font-size: 18px;
	font-family: 'Itim', cursive;
}
span.dropt:hover 
{
	text-align: center;
	color: #ff0;
	font-size: 18px;
	font-family: 'Itim', cursive;
}
span.dropt span
{
	position: absolute;
	left: 0px;
	margin: 20px 0 0 0px;
	padding: 3px 3px 3px 3px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	z-index: 0;
}
span.dropt:hover span 
{
	left: 2%;
	background: #111;
}
span.dropt span 
{
	position: absolute;
	left: -9999px;
	margin: 0px 0 0 0px;
	padding: 3px 3px 3px 3px; 
	border-style: solid;
	border-color: #b0b0b0;
	border-width: 1px;
  }
span.dropt:hover span
{
	margin: 20px 0 0 34.6%;
	background: #1f1f1f;
	z-index:6;
} 

footer
{
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    overflow:hidden;
}
