body
{
	background-color: #000000;
}

/* fonts include
font-family: 'Itim', cursive;
font-family: 'Akronim', cursive;
font-family: Arial, Helvetica, sans-serif;
*/

h1
{
	text-align: center;
	color: #ff6600;
	font-size: 90px;
	font-family: 'Itim', cursive;
	line-height: 1%;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2
{
	text-align: center;
	color: #ffff00;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Itim', cursive;
}

p
{
	text-align: left;
	color: #ffff00;
	font-size: 20px;
	font-family: 'Itim', cursive;
	line-height: 140%;
}

.block
{
	display: inline-block;
}

a
{
	text-align: left;
	font-family: 'Itim', cursive;
	font-size: 20px;
}
a:link
{
	color:#ff00ff;
	background-color:transparent;
	text-decoration:none
}
a:visited
{
	color:#ff00ff;
	background-color:transparent;
	text-decoration:none
}
a:hover
{
	color:#700070;
	background-color:transparent;
	text-decoration:underline
}
a:active
{
	color:#ff0088;
	background-color:transparent;
	text-decoration:underline
}

ul
{
	color: #ffff00
}